.title {
    height: 184px;
    line-height: 70px;
}

.board {
    width: 400px;
    margin: 50px auto;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.box {
    height: 132px;
    width: 132px;
    background-color: #333;
    float: left;
    outline: 1px solid black;
    text-align: center;
    line-height: 110px;
    font-size: 120px;
    color: #EEE;
} .box:hover {
    background-color: #555;
    cursor: pointer;
}

.modal {
    display: none;
}

.score {
    font-size: 35px;
    font-weight: bold;
}
